.flex-container{
    display: flex;
    flex-direction: row;
}
.sides{
    background-color: #333;
    width: 25%;
    margin-top: 2px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
}
.middle{
    background-color: #333;
    width: 50%;
    padding: 20px;
    height: 800px;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
}
.left{
    background-color: #333;
    width: 50%;
    margin-top: 2px;
    margin-right: 3px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    overflow: auto;
}
.right{
    background-color: #333;
    width: 50%;
    height: 800px;
    margin-top: 2px;
    margin-left: 3px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}
.search{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 75%
}
.description{
    margin-left: 70px;
    margin-right: 70px;
    line-height: normal;
}
.name{
    margin-top: 70px;
    font-size: xx-large;
}
.host{
    font-size: x-large;
}
.datetime{
    font-size: larger;
}