.flex-container{
    display: flex;
    flex-direction: row;
}
.sides{
    background-color: #333;
    width: 25%;
    margin-top: 2px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
}
.middle{
    background-color: #333;
    width: 50%;
    padding: 20px;
    height: 800px;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 3px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
}
.left{
    background-color: #333;
    width: 50%;
    margin-top: 2px;
    margin-right: 3px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    overflow: auto;
}
.right{
    background-color: #333;
    width: 50%;
    height: 800px;
    margin-top: 2px;
    margin-left: 3px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}
.search{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 75%
}
.description{
    margin-left: 70px;
    margin-right: 70px;
    line-height: normal;
}
.name{
    margin-top: 70px;
    font-size: xx-large;
}
.host{
    font-size: x-large;
}
.datetime{
    font-size: larger;
}
.calendarleft{
    background-color: #333;
    width: 50%;
    margin-top: 2px;
    margin-right: 3px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    overflow: auto;
}
.event-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 5px;
    background-color: #333;
}

.input-group {
    margin-bottom: 10px;
}

.label {
    display: block;
    font-weight: bold;
}

.input, .textarea {
    width: 75%;
    padding: 5px;
    height: 50px;
    border: 1px solid green;
    border-radius: 4px;
    font-size: 1rem;
}

.textarea {
    resize: vertical;
    max-height: 50%;
    line-height: 1;
    word-spacing: normal;
}

.submit-button {
    background: black;
    color: white;
    font-size: 15px;
    border: 1px solid green;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    line-height: 3;
    transition: filter 300ms;
    height: auto;
    width: fit-content;
}
.clubeventlist{
    
}
.unrsvp-button {
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 15px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    line-height: 3;
    transition: filter 300ms;
    height: auto;
    width: fit-content;
    margin-left: 10px;

    &:hover {
        background-color: rgb(201, 0, 0);
    }

    &:active {
        background-color: rgb(161, 4, 4);
    }
}

.remove-club-button {
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 15px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
    line-height: 3;
    transition: filter 300ms;
    height: auto;
    width: fit-content;
    margin-left: 10px;

    &:hover {
        background-color: rgb(201, 0, 0);
    }

    &:active {
        background-color: rgb(161, 4, 4);
    }
}
  